# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Debug Content 
**/*.dSYM
**/*.dSYM/**

# VSCode
.vscode/*
settings.json
tasks.json
launch.json
extensions.json
c_cpp_properties.json
*.code-workspace


# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod


# Executables
*.exe
*.out
*.app

*/.DS_Store
